.header {
  width: 100%;
  display: flex;
  height: 131px;
  background: #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
}
.menu {
  display: flex;
  width: 440px;
  justify-content: space-between;
  margin-left: 80px;
  align-items: center;
}
.logo {
  align-items: center;
  width: 152px;
  height: 90px;
}
