.filter__selector {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.filter__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 11px 0 14px;
}
.filter__name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;

  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.filter__arrow{
  fill:#FFFFFF;
}
.filter__arrow:active{
  fill: #3FC4FD;;
}
