.card {
  position: relative;
  width: 410px;
  height: 550px;
  cursor: pointer;
  transition: 0.5s;
}
.card:hover{
  transform:scale(1.05);
}
.card__info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.card__description {
  display: flex;
  justify-content: space-between;
    padding: 0 27px 0 27px;
}
.name {
    padding: 29px 0 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #e5e5e5;
}
.card__line{
    margin-left: 27px;
    width: 355px;
}
