
.home {
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 131px);
    width: 100%;
    overflow-y:hidden;
    background: url(../../../assets/images/bg_1.png);
    background-size: 100% 100%;

}
.home__title {
    margin: 230px 0 0 213px;
    width: 572px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 80px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}
.home__description {
    width: 406px;
    margin: 35px 0 0 213px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}
.home__start {
    box-sizing: border-box;
    margin: 73px 0 0 213px;
    width: 180px;
    height: 60px;
    background: #3fc4fd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}
.home__start:hover {
    background: #0c92cc;
}
.home__start:active {
    background: #03b3ff;
}
