@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url('fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url('fonts/Roboto/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: url('fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url('fonts/Roboto/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  src: url('fonts/Roboto/Roboto-BoldItalic.ttf');
}
