.formBox {
  display: flex;
  flex-direction: column;
  width: 445px;
  align-items: center;
}
.formName {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.formTypes{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.formText {
  width: 100%;
  height: 30px;
  background: black;
  border: 1px solid white;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 4px;
  color: white;
}
.gender,
.race,
.side {
  width: 120px;
  height: 30px;
  background: black;
  border: 1px solid white;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 4px;
  color: white;
}
.color {
  width: 50px;
  height: 30px;
}
.textAreaDescription {
  width: 100%;
  height: 144px;
  resize: none;
  background: black;
  border: 1px solid white;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 4px;
  color: white;
}
.colorBlock {
  display: flex;
  width: 191px;
}
.colorBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 104px;
}
.bottom {
  display: flex;
  width: 100%;
}
.imgBox {
  width: 187px;
  height: 200px;
  position: relative;
  margin-right: 33px;
}
.imgBlock {
  width: 100%;
  height: 100%;
  background: black;
  border: 1px solid white;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 4px;
}
.urlInput {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index:15;
  width: 167px;
  height: 32px;
  background: black;
  border: 1px solid white;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 4px;
  color: white;
}
.img {
  width: 100%;
  height: 100%;
}
