.preview {
  width: 100%;
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(155.1deg, #000000 56.11%, #090c13 88.38%);
}
.preview__block {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/bg.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview__filter {
  width: 1280px;
  height: 50px;
}
.preview__head {
  width: 800px;
  padding-bottom: 29px;
  padding-top: 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  text-shadow: 5px 5px 5px #000000;
}
.filter_and_add{
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-top:15px;
}
.slider{
  display: flex;
  width: 1280px;
  height: 617px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newPerson{
  background: black;
  border: 1px solid white;
  width:140px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13px 0 13px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;

}
.newPersonText{
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
