.list__characters{
    margin-top: 29px;
    display: grid;
    grid-template-columns: repeat(100, 410px);
    gap:0 25px;
    width: 1280px;
    height: 550px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

}
.pagination{
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top:25px;
}
