.filter__drop {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  background: black;
  border: 1px solid #ffffff;
  width: 100%;
}

.filter__check {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}
.form{
  display: flex;
  flex-direction: column;
}

