.filter__bar{
    display: flex;
    width: 500px;
}
.filter__type{
    color:white;
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.filter__type:not(:last-child){
    margin-right: 12px;
}
