.modalForm{
    z-index: 5;
    height:722px;
    width: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    border: 1px solid white;
    position: relative;
    padding: 38px
}
.closeButton {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.partModalFirst{
    width: 50%;
    height: 100%;
    border-right: 1px solid white;
}
.partModalSecond{
    width: 50%;
    height: 100%;
}
