.modalCard {
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: white;
  background: black;
  border: 1px solid white;
  padding-left: 46px;
  width: 1000px;
  height: 700px;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
}
.header {
  padding-top: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 90px;
}
.textBlock {
  width: 240px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
}
.lines {
  width: 240px;
}
.description {
  margin-top: 73px;
  width: 330px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
}
.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.tags {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tags :not(:last-child){
  margin-bottom: 5px;
}
.tagsItem {
  padding: 6px 14px 6px 16px;
  background: #3fc4fd;
  border: 0;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
}
