.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 236px;
    height: 131px;
}
.menu__item{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    cursor: pointer;
    text-decoration: none;
}

